.center{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.wideField{
    width: 400px;
    
}
.background
{
    background: url('/public/cart.jpg') ;
    background-size: contain;
    background-position:top;
    background: cover;
    height: 100%;
    background-color: rgba(180,255,255,.7);
    background-blend-mode: lighten;
}
.notOpaque{
    opacity: 1;
}