* {
    box-sizing: border-box;
    
  }
  
  .row {
    padding:0px
  }
    
  .column {
    float: left;

    padding-right: 60px;
  }
  .column2 {
    float: left;

    padding: 0px;
  }
  .rightjustify {
    float: right;

    padding: 0px;
  }
 th,td{
    padding: 0px;
    text-align: left;
    border: 2px solid;
  }
  table{
    border: 0px solid;
  }